body {
  background-color: black;
}

#bars {
  display: flex;
  align-items: flex-end;
}

.bar {
  flex-grow: 1;
  border: 1px solid gray;
  background-color: lightgray;
  margin-left: 1px;
  width: 10%;
  margin-top: 28%;
}
